<h2>All your fuck-ups!</h2>


  <% @fuckup_results.reverse_each do |entry| %>
    <div class="large-12 columns">
      <div class="callout">
        <p>
          <h4>Fuckups for <%= entry[:created_at].year %>-<%= entry[:created_at].month %>-<%= entry[:created_at].day %></h4><br>
          <%= entry.fuckups %>
          <% end %>
        </p>
      </div>
    </div>
