<h2>AmberNote!</h2>

<h4 class"hell">Log the hell in, people</h4>

<form action="/" method="post">
  <div class="large-6 columns form-login">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username"/></p>
  </div>
  <div class="large-6 columns form-login">
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password"/></p>
  </div>
  <div class="large-12 columns">
    <input class="button" type="submit" value="Log In" />
    <p> <a href="/register">Sign the hell up.</a>
  </div>
</form>
