<h2>Write something!</h2>

<a href='/new_entry'>New Entry</a>

<p>
<% user = User.first(username: env['warden'].user[:username]) %>
<% entries = Entry.all(user: user) %>
<% entries.each do |entry| %>
<% tagalong = entry %>
  <a href="/entry/:tagalong"><%= entry[:created_at].year %>-<%= entry[:created_at].month %>-<%= entry[:created_at].day %></a>
  <br>
  <% end %>
</p>

<!-- [#<Entry @id=1 @finished=nil @progress=nil @languages=nil @skillsets=nil @woohoo=nil @fuckups=nil @notes=nil @created_at=#<DateTime: 2016-08-28T15:20:44+02:00 ((2457629j,48044s,0n),+7200s,2299161j)> @user_id=1>] -->
