New Entry for <!-- date is going here -->

<form action="/new_entry" method="post">
<label for="finished_projects">Finished Projects</label>
<textarea name="finished_projects" cols="100" rows="1" id="finished"></textarea>
<label for="working_projects">Projects in Progress</label>
<textarea name="working_projects" cols="100" rows="1" id="progress"></textarea>
<label for="languages">Languages / Tools</label>
<textarea name="languages" cols="100" rows="1" id="languages"></textarea>
<label for="skillsets">Major Skillsets Required / Developing</label>
<textarea name="skillsets" cols="100" rows="1" id="skillsets"></textarea>
<label for="woohoo">Woo-hoo Moments</label>
<textarea name="woohoo" cols="100" rows="3" id="woohoo"></textarea>
<label for="fuckups">Fuck-Ups and Don't Forget:</label>
<textarea name="notes" cols="100" rows="5" id="fuckups">-</textarea>
<label for="notes">Notes</label>
<textarea name="notes" cols="100" rows="5" id="notes"></textarea>

<p><button type="submit">Submit</button></p>

</form>
