New Entry for <!-- date is going here -->

<form action="post">
<label for="finished_projects">Finished Projects</label>
<textarea name="finished_projects" cols="100" rows="1" id="finished"></textarea>
<label for="working_projects">Projects in Progress</label>
<textarea name="working_projects" cols="100" rows="1"></textarea>
<label for="languages">Languages / Tools</label>
<textarea name="languages" cols="100" rows="1"></textarea>
<label for="skillsets">Major Skillsets Required / Developing</label>
<textarea name="skillsets" cols="100" rows="1"></textarea>
<label for="woohoo">Woo-hoo Moments</label>
<textarea name="woohoo" cols="100" rows="3"></textarea>
<label for="fuckups">Fuck-Ups and Don't Forget:</label>
<textarea name="notes" cols="100" rows="5">-</textarea>
<label for="notes">Notes</label>
<textarea name="notes" cols="100" rows="5"></textarea>

<p><button type="submit">Submit</button></p>

</form>
