New Entry for <!-- date is going here -->

<form action="post">
<label for="finished_projects"><h3>Finished Projects</h3></label>
<textarea name="finished_projects" cols="100" rows="1"></textarea>
<label for="working_projects"><h3>Projects in Progress</h3></label>
<textarea name="working_projects" cols="100" rows="1"></textarea>
<label for="languages"><h3>Languages / Tools</h3></label>
<textarea name="languages" cols="100" rows="1"></textarea>
<label for="skillsets"><h3>Major Skillsets Required / Developing</h3></label>
<textarea name="skillsets" cols="100" rows="1"></textarea>
<label for="woohoo"><h3>Woo-hoo Moments</h3></label>
<textarea name="woohoo" cols="100" rows="3"></textarea>
<label for="fuckups"><h3>Fuck-Ups and Don't Forget:</h3></label>
<textarea name="notes" cols="100" rows="5" Value="-"></textarea>
<label for="notes"><h3>Notes</h3></label>
<textarea name="notes" cols="100" rows="5"></textarea>

<p><button type="submit">Submit</button></p>

</form>
