<% date = Time.new %>
<h4>New Entry for <%= date.day %> / <%= date.month %> / <%= date.year %></h4>

<form action="/new_entry" method="post">
<div class="large-12 columns entry-form">
<label for="finished_projects">Finished Projects</label>
<textarea name="finished_projects" cols="100" rows="1" id="finished"></textarea><br>
<label for="progress">Projects in Progress</label>
<textarea name="progress" cols="100" rows="1" id="progress"></textarea><br>
<label for="languages">Languages / Tools</label>
<textarea name="languages" cols="100" rows="1" id="languages"></textarea><br>
<label for="skillsets">Major Skillsets Required / Developing</label>
<textarea name="skillsets" cols="100" rows="1" id="skillsets"></textarea><br>
<label for="woohoo">Woo-hoo Moments</label>
<textarea name="woohoo" cols="100" rows="3" id="woohoo"></textarea><br>
<label for="fuckups">Fuck-Ups and Don't Forget:</label>
<textarea name="fuckups" cols="100" rows="5" id="fuckups"></textarea><br>
<label for="notes">Notes</label>
<textarea name="notes" cols="100" rows="5" id="notes"></textarea>
<br><button class="button" type="submit">Submit</button></p>
</form>
</div>
