<h2>Register as a new user</h2>

<form action="/register" method="post">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username"/></p>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password"/></p>
  <label for="password">Password Confirmation:</label>
  <input type="password" name="user[password_check]" id="password_check"/></p>
  <input type="submit" value="Register" />
</form>
