
<h2>Searching your entries!</h2>

<p>
  <% @results.each do |entry| %>
    <div class="large-12 columns">
      <div class="callout">

        <%= entry.created_at %>
        <%= entry.notes %>


      <br>
    </div>
    </div>
    <% end %>
  </p>
  </div>
